$font-secondary: #727272;
$font-important: #ff5b5b;
$font-warning: #ffe65b;
$font-info: #379bff;

$accent-secondary: #c3c3c3;

$background-secondary: #eee;

$box-shadow-L-bottom: 2px 5px 5px #2424240f;

$transition-05: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
