.main__header {
  // @include flex(row, space-between, normal); flex item not needed
  box-sizing: border-box;

  height: 10%;

  font-size: 14px;

  background-color: #fff;

  padding: 2em 6%;

  border-bottom: 1px solid $accent-secondary;
}
