<main class="admin-profile section">
  <!-- Profile Section -->
  <section class="admin-profile__table">
    <table>
      <thead>
        <tr>
          <th class="admin-profile__table__title" colspan="2">Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>ID</th>
          <td id="profileId"></td>
        </tr>
        <tr>
          <th>First Name</th>
          <td id="profileFirstName"></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td id="profileLastName"></td>
        </tr>
        <tr>
          <th>Email</th>
          <td id="profileEmail"></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </section>

  <!-- Create New Section -->
  <section class="admin-profile__create-test">
    <h2>Create Test</h2>
    <button class="button--black" type="button">New</button>
  </section>

  <!-- History Section -->
  <section class="admin-profile__test-history">
    <h2>My Tests</h2>
    <a href="./history.html">
      <button class="button--black" type="button">Current</button>
    </a>
  </section>
</main>
