<section class="section test-history__table">
  <div class="test-history__table__container">
    <table>
      <thead>
        <tr>
          <th class="test-history__table__title" colspan="6">Exams</th>
        </tr>
      </thead>
      <thead class="test-history__table__sticky test-history__table__title">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Starting Grade</th>
          <th>Maximum Grade</th>
        </tr>
      </thead>
      <tbody id="historyTableBody">
        <tr>
          <th>#1</th>
          <td>Data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
          <td>Data 4</td>
          <td>Data 5</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="test-history__table__title" colspan="6">
            Total number of tests: <span id="testsTotal">N</span>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <a href="./profile.html">
    <button class="button--black" type="button">Go Back</button>
  </a>
</section>
