<form id="loginForm" class="login__form" method="post">
  <div class="login__form__labels">
    <label for="formEmail">Your Email:</label>
    <div>
      <svg height="18" width="18" class="login__form__labels__user-icon">
        <use href="./img/icons.svg#form-person"></use>
      </svg>
      <input type="text" id="loginEmail" name="email" />
    </div>
  </div>

  <div class="login__form__labels">
    <label for="loginPassword">Password:</label>
    <div>
      <svg height="18" width="18" class="login__form__labels__lock-icon">
        <use href="./img/icons.svg#form-lock"></use>
      </svg>
      <input type="password" id="loginPassword" name="password" />
    </div>
  </div>

  <div class="login__form__buttons">
    <input class="button--black" type="submit" value="Login" />
    <a class="link--secondary" href="https://www.facebook.com/" target="_blank"
      >Sign Up</a
    >
  </div>
</form>
